<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>http://www.sxc.hu/pic/m/o/ou/outer/22804_greentea_leaf.jpg</string>
	<string>http://www.sxc.hu/pic/m/r/ra/ralu/120621_maya_ruins4.jpg</string>
	<string>http://www.sxc.hu/pic/m/b/bo/bonvivant/197421_cliff2.jpg</string>
	<string>http://www.sxc.hu/pic/m/r/re/renato2004/243221_coliseu_de_roma.jpg</string>
	<string>http://www.sxc.hu/pic/m/u/u_/u_01_c/310610_winter.jpg</string>
	<string>http://www.sxc.hu/pic/m/c/ca/capetan/311933_japanese_garden.jpg</string>
	<string>http://www.sxc.hu/pic/m/c/ca/capetan/311935_shoji_screen.jpg</string>
	<string>http://www.sxc.hu/pic/m/n/ng/ngould/325616_big_fella.jpg</string>
	<string>http://www.sxc.hu/pic/m/n/ng/ngould/325618_mother_and_child.jpg</string>
	<string>http://www.sxc.hu/pic/m/n/ng/ngould/325620_wildebeest.jpg</string>
	<string>http://www.sxc.hu/pic/m/n/ng/ngould/325621_zebra.jpg</string>
	<string>http://www.sxc.hu/pic/m/n/ng/ngould/329656_picture_of_contentment.jpg</string>
	<string>http://www.sxc.hu/pic/m/n/ng/ngould/329660_cheetah_1.jpg</string>
	<string>http://www.sxc.hu/pic/m/n/ng/ngould/332367_three_giraffes.jpg</string>
	<string>http://www.sxc.hu/pic/m/n/ng/ngould/332370_lions_dining.jpg</string>
	<string>http://www.sxc.hu/pic/m/n/ng/ngould/332373_springbok_1.jpg</string>
	<string>http://www.sxc.hu/pic/m/m/ma/malamantra/427679_mexican_1.jpg</string>
	<string>http://www.sxc.hu/pic/m/j/jo/joymad/458367_sandy_cape_light_house.jpg</string>
	<string>http://www.sxc.hu/pic/m/m/mi/mikevam/462659_mozambique_2.jpg</string>
	<string>http://www.sxc.hu/pic/m/a/an/anniepie/482596_muizenberg.jpg</string>
	<string>http://www.sxc.hu/pic/m/r/ro/rockberto/489872_lago_todos_los_santos.jpg</string>
	<string>http://www.sxc.hu/pic/m/r/ro/rockberto/489892_camino_al_volcan_.jpg</string>
	<string>http://www.sxc.hu/pic/m/r/ro/rockberto/489901_volcan_y_saltos.jpg</string>
	<string>http://www.sxc.hu/pic/m/r/ro/rockberto/489914_volcan_y_lago.jpg</string>
	<string>http://www.sxc.hu/pic/m/a/an/andymel/493251_santorini.jpg</string>
	<string>http://www.sxc.hu/pic/m/j/jc/jcanistrum/511673_foreign_minestry.jpg</string>
	<string>http://www.sxc.hu/pic/m/k/ke/kevdaguru/526151_maya_ruines_in_copn_ruinas_2.jpg</string>
	<string>http://www.sxc.hu/pic/m/w/wo/wooglin/542791_rome.jpg</string>
	<string>http://www.sxc.hu/pic/m/f/fi/firhang/557984_dobra_voda_castle.jpg</string>
	<string>http://www.sxc.hu/pic/m/g/go/goodgbb/579493_golden_thai_temple.jpg</string>
</array>
</plist>
